*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $base-color;
}

.container{
    width: 85%;
    margin: 0 auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: inherit;
}